body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 0 15px;
    
}
img {
    width: 90%;
    padding: 10px 10px;
    max-width: 300px;
}


ul {
    padding: 0 0;
    list-style: none;
}

nav li {
    margin: 6px 6px;
    padding: 5px 10px;


}
header {
    background-color:steelblue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h1 {
    padding-top: 20px;
    margin-top: 0;
    color: white;
}
/* ---- Layout Containers ---- */

.main-nav a {
    display: block;
    text-decoration: none;
    background-color:white ;
    color: steelblue;
    padding: 10px 20px;
    text-align: center;
}
#main-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 30px 20px;
    text-decoration: none;
}
#main-footer a {
    text-decoration: none;
    color: steelblue;
}

